<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" />
</head>

<center><font size="10">{{directory_name}}</font></center>

<hr>
<br>

    {% for img in img_list %}
        {% for i in range(len_sub_dir) %}

            <div style="float:left;margin-right:5px;">
            <figure>

                <img src="/static/view_image_columns/{{directory_name}}/{{i+1}}-{{sub_directories[i]}}/{{img}}"  style="width: 300px; height:auto;">

                <figcaption>
                    <center>{{sub_directories[i]}}</center>
                </figcaption>

            </figure>
            </div>

        {% endfor %}
        <br style="clear:both" />
    {% endfor %}

</body>
</html>